#navigation
{
    position: relative;
    height: 1.6em;
    border-radius: .25em;
    border: 1px solid white;
    z-index: 100;
    background-color: #233c6f;
    font-size: 90%;
}

#navigation a
{
    text-decoration: none;
    color: #ffffff;
    padding: 0 1.5em;
    white-space: nowrap;
    margin: 0;
    display: block;
    font-weight: bold;
}

#navigation ul
{
  margin: 0;
  padding: 0;
  border-color: #ffffff;
  border-width: 1px;
  list-style: none !important;
}

#navigation ul ul
{
    height: auto;
    position: absolute;
    border-style: solid solid none none;
    margin-left: -1px;
    background-color: #132c5f;
    width: 150px;
    border-color: #bbb;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

#navigation li > ul
{
    width: auto !important;
}

#navigation li
{
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    border-style: none solid none none;
    border-color: #ffffff;
    border-width: 1px;
    list-style: none;
    height: 1.6em;
    line-height: 1.6em
}

#navigation li:hover,
#navigation li a:hover
{
    background-color: #485d88;
}

#navigation > ul > li:first-child,
#navigation > ul > li:first-child a
{
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em
}

#navigation > ul > li:first-child:hover
{
    border-bottom-left-radius: 0
}

#navigation > ul > li:first-child li,
#navigation > ul > li:first-child li a
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#navigation ul ul li
{
    position: relative;
    float: none;
    margin-bottom: -3px;
    border-style: none none solid solid;
    border-color: #eee
}

#navigation ul ul > li
{
  margin-bottom: 0;
}

#navigation ul ul a
{
    font-weight: normal;
    background-color: white;
}

#navigation ul ul a:link,
#navigation ul ul a:visited
{
    color: #132C5F;
}

#navigation ul ul a:hover
{
    color: white;
}

#navigation ul ul ul
{
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 0;
  margin-top: -1px;
}

#navigation ul ul,
#navigation ul li:hover ul ul
{
  display: none;
}

#navigation ul li:hover ul
{
  display: block;
  list-style: none;
}


#content-navigation
{
    position: absolute;
    right: 2em;
    width: 25%;
    max-width: 19em;
    margin-top: 7em;
    background-color: white;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
}

#content-navigation a
{
    color: #333;
}
#content-navigation a:hover
{
    color: #000000;
    text-decoration: none
}

#content-navigation h3 a
{
    padding: 0.3em 1em;
    font-size: 100%;
    background-color: #233c6f;
    display: block;
    color: #ffffff;
    margin: 0;
    border-top-right-radius: .4em;
    border-top-left-radius: .4em;
}

#content-navigation h3 a:hover
{
    text-decoration: none;
    background-color: #485d88;
}

#content-navigation ul
{
    padding: .75em 0 2em 0;
    margin: 0;
    list-style: none;
    z-index: 1;
    border: 1px solid #ccc;
    border-top: none;
    font-size: .9em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
}

#content-navigation > ul
{
    background-image: url('gradient-slashed.gif');
    background-position: bottom left;
    background-repeat: repeat-x;
}

#content-navigation ul > li
{
    padding: 0 1em .6em 1em;
}

#content-navigation ul ul
{
    padding-bottom: 0;
    padding-left: 1em;
    list-style-image: url('list-triangle.gif');
    z-index: 99;
}

#content-navigation ul ul li
{
  padding: 0;
}

#content-navigation li.active
{
  font-weight: bold;
}

#content-navigation li.active li
{
  font-weight: normal;
}

#content-navigation .hentry span.published,
#content-navigation .hentry a.comments,
{
    font-size: .75em;
    font-weight: normal
}