*
{
  color: black;
  background: transparent;
}

#protoToolbar-palette
{
  display: none !important;
}

body
{
  background-color: #ffffff;
  margin: 0;
  text-align: left;
}

#navigation,
#siteinfo,
#content-navigation
{
  display: none;
}

#content-text
{
  width: 100%;
  float: none;
  clear: both;
}

#branding div.grouplogo
{
  border-bottom: solid 1px #000000;
  font-style: italic;
}
