body
{
  margin: 11px 30px;
  background-image: url('background.gif');
  background-repeat: repeat-x;
  background-position: top left;
  background-color: #bbbbbb;
}

#container
{
    position: relative;
    background-image: url('background-header.gif');
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #ffffff;
    color: #333;
    padding-top: 12px;
    max-width: 75em;
    margin: 0 auto;
}

#container div.corner
{
    width: 6px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    position: absolute;
}

#container div.top-left-corner
{
    top: 0;
    left: 0;
    height: 23px;
    background-position: top left;
    background-image: url('corner-top-left.gif');
}

#container div.top-right-corner
{
    right: 0;
    top: 0;
    height: 23px;
    background-position: top right;
    background-image: url('corner-top-right.gif');
}

#container div.bottom-left-corner
{
    left: 0;
    bottom: 0;
    height: 28px;
    background-position: bottom left;
    background-image: url('corner-bottom-left.gif');
}

#container div.bottom-right-corner
{
    right: 0;
    bottom: 0;
    height: 28px;
    background-position: bottom left;
    background-image: url('corner-bottom-right.gif');
}

#branding
{
    position: relative;
    z-index: 99;
    height: 53px;
}

#branding div.grouplogo
{
    position: absolute;
    font-size: 120%;
    font-weight: bold;
    color: #000000;
    line-height: 53px;
}

#branding .grouplogo a,
#branding .grouplogo img
{
    border: none;
}

#navigation,
#content,
#branding,
#siteinfo div.siteinfo
{
    clear: both;
    margin: 0 30px;
}

#content-text
{
  width: 70%;
  float: left;
  padding-bottom: 1em;
}

body.frontpage #content-text
{
  width: 100%;
}

#content-navigation
{
    float: left;
    margin-left: 2em;
    width: 25%;
    margin-top: 5em;
    background-color: white;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
}

#content-navigation a
{
    color: #000000;
}

#content-navigation h3 a
{
    padding: 0.3em 1em;
    font-size: 100%;
    background-color: #132c5f;
    display: block;
    color: #ffffff;
    margin: 0;
    border-top-right-radius: .4em;
    border-top-left-radius: .4em;
}

#content-navigation h3 a:hover
{
    text-decoration: none;
    background-color: #233C6F;
}

#content-navigation ul
{
    padding: .75em 0 2em 0;
    margin: 0;
    list-style: none;
    z-index: 1;
    border: 1px solid #ccc;
    border-top: none;
    font-size: .9em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
}

#content-navigation > ul
{
    background-image: url('gradient-slashed.gif');
    background-position: bottom left;
    background-repeat: repeat-x;
}

#content-navigation ul > li
{
    padding: 0 1em .3em 1em;
}

#content-navigation ul ul
{
    padding-bottom: 0;
    padding-left: 1em;
    list-style-image: url('list-triangle.gif');
    z-index: 99;
}

#content-navigation ul ul li
{
  padding: 0;
}

#content-navigation li.active
{
  font-weight: bold;
}

#content-navigation li.active li
{
  font-weight: normal;
}

#siteinfo
{
    background-image: url('background-footer.gif');
    background-repeat: repeat-x;
    background-position: bottom left;
    height: 28px;
    line-height: 28px;
    padding-top: 45px;
    clear: both;
    font-size: 80%;
}

#siteinfo a
{
    color: black;
    text-decoration: none;
}

#siteinfo a:hover
{
    text-decoration: underline;
}

body.frontpage #content-navigation
{
  display: none;
}

#siteinfo p
{
    color: #333;
    padding: 0;
    margin: 0;
}

#siteinfo p.login
{
  float: right;
}


body.frontpage #content-navigation
{
    display: block;
}

body.frontpage #content-navigation .hentry .entry-title
{
    font-weight: bold;
}

body.frontpage #content-navigation .hentry .entry-title a
{
    color: #444 !important;
}
