body
{
    margin: 11px 30px;
    background-image: url('background.gif');
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #bbbbbb;
    font-family: Helvetica Neue, Helvetica, FreeSans, Arial, sans-serif;
    font-size: 0.9em;
}

#container
{
    position: relative;
    background-image: url('background-header.gif');
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #ffffff;
    color: #333;
    padding-top: 12px;
    max-width: 75em;
    margin: 0 auto;
}

#container div.corner
{
    width: 6px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    position: absolute;
}

#container div.top-left-corner
{
    top: 0;
    left: 0;
    height: 23px;
    background-position: top left;
    background-image: url('corner-top-left.gif');
}

#container div.top-right-corner
{
    right: 0;
    top: 0;
    height: 23px;
    background-position: top right;
    background-image: url('corner-top-right.gif');
}

#container div.bottom-left-corner
{
    left: 0;
    bottom: 0;
    height: 28px;
    background-position: bottom left;
    background-image: url('corner-bottom-left.gif');
}

#container div.bottom-right-corner
{
    right: 0;
    bottom: 0;
    height: 28px;
    background-position: bottom left;
    background-image: url('corner-bottom-right.gif');
}

#branding
{
    position: relative;
    z-index: 99;
    height: 53px;
}

#branding div.grouplogo
{
    position: absolute;
    font-size: 120%;
    font-weight: bold;
    color: #000000;
    line-height: 53px;
}

#branding .grouplogo a,
#branding .grouplogo img
{
    border: none;
}

#navigation,
#content,
#branding,
#siteinfo div.siteinfo
{
    clear: both;
    margin: 0 30px;
}

#searchbox
{
    position: absolute;
    right: 0;
    top: 17px;
}

#searchbox #midcom_helper_search_query
{
    color: #bbb;
    margin: 0 0 .5em 1em;
    font-size: .75em;
    border-radius: .4em;
    border: 1px solid #CCC;
}

#searchbox #midcom_helper_search_query.focused,
#searchbox #midcom_helper_search_query:hover
{
    color: black;
    border-color: #999
}

#siteinfo
{
    background-image: url('background-footer.gif');
    background-repeat: repeat-x;
    background-position: bottom left;
    height: 28px;
    line-height: 28px;
    padding-top: 45px;
    clear: both;
    font-size: 80%;
}

#siteinfo a
{
    color: #666;
    text-decoration: none;
}

#siteinfo a:hover
{
    color: #333;
    text-decoration: underline;
}

#siteinfo p
{
    color: #666;
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

#siteinfo p.login
{
    float: right;
}

body.frontpage #content-text
{
    width: 65%;
}

body.frontpage div.breadcrumb
{
    display: none;
}

body.frontpage #content > #content-navigation
{
    width: 25%
}

body.frontpage #content-navigation .hentry .entry-title
{
    font-weight: bold;
}

body.frontpage #frontpage-slideshow
{
    height: 500px;
}

body.frontpage #frontpage-slideshow h1
{
    display: none;
}

body.frontpage #frontpage-slideshow .galleria-info
{
    top: auto;
    bottom: 53px
}

body.frontpage #frontpage-slideshow .galleria-info-text
{
    padding: 0;
    display: block !important;
}
