#content
{
    position: relative
}

body #content-text
{
    line-height: 1.4em
}

body #content-text
{
    width: 65%;
    text-align: justify;
    padding-left: 1.4em
}

body #content-text pre
{
    background-color: #555;
    color: white;
    padding: .1em .3em;
    border-radius: .2em;
    overflow: auto;
}

body #content-text .hentry
{
    margin: 0;
    padding: .3em 0;
    position: relative
}

body #content-text .hentry p.published
{
    position: absolute;
    right: 0;
    top: -1em;
    color: #999;
    font-size: .9em
}

body #content-text .hentry .excerpt
{
    font-weight: bold;
    margin: 2.7em 0 1em 0
}

body #content-text .hentry .content
{
    padding-bottom: 2.5em;
    border-bottom: 1px solid #ccc
}

body #content-text .hentry div.meta
{
    margin-bottom: 0
}

#content > #content-navigation
{
    width: 25%;
    max-width: 19em;
    position: absolute;
    right: 2em;
}

#content h1
{
    margin-bottom: 1em
}

#content h1,
#content h2
{
    color: #222
}

#content h3
{
    margin-bottom: 0;
    margin-top: 1.5em;
}

body.frontpage #content-text
{
    width: 65%;
}

body.screenshots #content-text
{
    width: 100%;
}

body.frontpage #content > #content-navigation
{
    width: 25%;
}

body.frontpage #content #frontpage-slideshow
{
    height: 500px;
}

body.frontpage #content #frontpage-slideshow h1
{
    display: none;
}

body.frontpage #content #frontpage-slideshow .galleria-info
{
    top: auto;
    bottom: 53px
}

body.frontpage #content #frontpage-slideshow .galleria-info-text
{
    padding: 0;
    display: block !important;
}

#content-text li
{
    list-style-type: square
}

#content-text a:link
{
    font-weight: normal;
    color: #030c6f;
}

#content-text h2 a:link
{
    font-weight: bold
}

body.screenshots #content-text li
{
    list-style-type: none
}

body.screenshots .photo_navigation,
body.screenshots .photo
{
    text-align: center
}

body.screenshots img.photo
{
    border: 1px solid #ccc;
    margin-top: .7em
}

body.frontpage div.breadcrumb
{
    visibility: hidden;
}

#searchbox
{
    position: absolute;
    right: 0;
    top: 17px;
}

#searchbox #midcom_helper_search_query
{
    color: #bbb;
    margin: 0 0 .5em 1em;
    font-size: .75em;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    border: 1px solid #CCC;
}

#searchbox #midcom_helper_search_query.focused,
#searchbox #midcom_helper_search_query:hover
{
    color: black;
    border-color: #999
}

body #content-navigation
{
    margin-top: 5em;
    background-color: white;
    background-image: none;
    -moz-border-radius-bottomleft: .4em;
    -moz-border-radius-bottomright: .4em;
    -webkit-border-bottom-left-radius: .4em;
    -webkit-border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
}

body #content-navigation h3
{
    margin: 0;
    padding: .1em 1em;
    border-top-right-radius: .4em;
    border-top-left-radius: .4em;
    background-color: #233C6F;
}

body #content-navigation ul
{
    border: 1px solid #ccc;
    border-top: none;
    padding-top: .75em;
    font-size: .9em;
    -moz-border-radius-bottomleft: .4em;
    -moz-border-radius-bottomright: .4em;
    -webkit-border-bottom-left-radius: .4em;
    -webkit-border-bottom-right-radius: .4em;
    margin-bottom: 1em
}

body #content-navigation ul
{
    background-image:url("/midcom-static/openpsa2org/gradient-slashed.gif");
    background-position:left bottom;
    background-repeat:repeat-x;
}

body #content-navigation ul.tickets
{
    max-height: 20em;
    overflow: auto;
}

body #content-navigation ul.qaiku li,
body #content-navigation ul.tickets li
{
    padding-bottom: .5em;
    clear: both;
}

body #content-navigation ul.qaiku img
{
   border: 1px solid #ccc;
   margin-right: .5em;
   margin-top: .2em
}

body.frontpage #content-navigation
{
    display: block;
}

body.frontpage #content-navigation .hentry .entry-title
{
    font-weight: bold;
}

body.frontpage #content-navigation .hentry .entry-title a
{
    color: #444 !important;
}

#content-navigation ul > li 
{
    padding: 0 1em .3em 1em;
}

#content-text .hentry
{
    margin-left: 2em;
}

#content-text .hentry h2.entry-title
{
    margin-top: 0;
    margin-bottom: .2em
}

#content-text .hentry div.published
{
    font-size: .75em
}

#content-text .hentry div.thumbnail
{
    float: left;
    padding-top: 8px;
    margin-right: .5em
}

#content-text .hentry p.entry-summary
{
    padding-top: 0;
    margin: .5em 0
}

#content-text .hentry div.thumbnail img
{
    border: 1px solid #ccc;
    width: 56px
}

#content-text .hentry div.meta
{
    font-size: .75em;
    margin-bottom: 1.5em;
}

#content-text .hentry a.comments
{
    font-weight: normal
}


#content-navigation .hentry span.published,
#content-navigation .hentry a.comments,
{
    font-size: .75em;
    font-weight: normal
}

div.content p
{
    text-align: justify
}

#content-text div.content a
{
    font-weight: normal
}

#net_nehmer_comments label
{
    display: block;
    margin-bottom: .3em
}

#net_nehmer_comments .field_text
{
    display: block;
}

.net_nehmer_comments_comment
{
    border: 1px solid #999;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 5px
}

.net_nehmer_comments_comment .content
{
    padding: 3px 10px;
}

.net_nehmer_comments_comment .published
{
    padding: 0 5px;
}

.net_nehmer_comments_comment .content p
{
    margin: 5px 0;
    font-size: .9em;
    text-align: left
}

#content .net_nehmer_comments_comment h3
{
    margin: 0;
    background-color: #ccc;
    color: white;
    padding: 1px 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}